extends layout

block content
  script(src='/javascripts/index.js')
  // Wrapper
  #wrapper
    if user
      h1= "Welcome, "+user.displayName+"!"
    else
      h1 Welcome!
    p Welcome to Node Demo App. Log-in is available securely using Google Plus.
    if user
      img(src= user._json.image.url)
      // CART
      h2 Shopping Cart
      #shoppingCart.list
          table
              thead
                  th Item
                  th Type
                  th Location
                  th Price
              tbody
      // /CART

  // /WRAPPER