doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.1.4.min.js')
  
  // Navi bar
  div(class="nav")
    ul
      li 
        a(href='/login') Login
      li 
        a(href='/logout') Log off
    
  body
    div(class="title")
      h1= title
      
    div(class="sideBar")
      ul
        li
          a(href='/') Home
        li
          a(href='/listings') Browse Items
        li
          a(href='/postItem') Post Item
        li
          a(href='/admin') Admin
  
    block content
