extends layout

block content
  script(src='/javascripts/postItem.js')
  // Wrapper
  #wrapper
      // POST ITEM
      h2 Post Item
      #postItem
          fieldset
              input#inputItemName(type='text', placeholder='Item')
              input#inputItemType(type='text', placeholder='Type')
              br
              input#inputItemLocation(type='text', placeholder='Location')
              input#inputItemPrice(type='text', placeholder='Price')
              br
              button#btnPostItem Post item
        // /POST ITEM
  // /WRAPPER